################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AsyncAwaitDemo/FileContentIndex
/.vs/Demo/v17
/.vs/VSWorkspaceState.json
/MedicalApi/MedicalApi/bin/Debug/net6.0/MedicalApi.dll
/MedicalApi/MedicalApi/bin/Debug/net6.0/MedicalApi.exe
/PersonApi/PersonApi/bin/Debug/net6.0/PersonApi.dll
/PersonApi/PersonApi/obj/project.nuget.cache
/PersonApi/PersonApi/obj/project.assets.json
/PersonApi/PersonApi/obj/PersonApi.csproj.nuget.g.props
/PersonApi/PersonApi/obj/PersonApi.csproj.nuget.dgspec.json
/PersonApi/PersonApi/obj/Debug/net6.0/PersonApi.pdb
/PersonApi/PersonApi/obj/Debug/net6.0/PersonApi.genruntimeconfig.cache
/PersonApi/PersonApi/obj/Debug/net6.0/PersonApi.GeneratedMSBuildEditorConfig.editorconfig
/PersonApi/PersonApi/obj/Debug/net6.0/PersonApi.dll
/PersonApi/PersonApi/obj/Debug/net6.0/PersonApi.csproj.FileListAbsolute.txt
/PersonApi/PersonApi/obj/Debug/net6.0/PersonApi.csproj.CoreCompileInputs.cache
/PersonApi/PersonApi/obj/Debug/net6.0/PersonApi.csproj.AssemblyReference.cache
/PersonApi/PersonApi/obj/Debug/net6.0/PersonApi.assets.cache
/PersonApi/PersonApi/obj/Debug/net6.0/apphost.exe
/PersonApi/PersonApi/bin/Debug/net6.0/PersonApi.pdb
/PersonApi/PersonApi/bin/Debug/net6.0/PersonApi.exe
/WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.staticwebassets.runtime.json
/WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.pdb
/WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.exe
/WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.dll
/WebAPI/.vs/ProjectEvaluation/webapi.projects.v5.2
/WebAPI/.vs/ProjectEvaluation/webapi.metadata.v5.2
/WebAPI/WebAPI/obj/WebAPI.csproj.nuget.g.props
/WebAPI/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
/WebAPI/WebAPI/obj/project.nuget.cache
/WebAPI/WebAPI/obj/project.assets.json
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.pdb
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.genruntimeconfig.cache
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.dll
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.FileListAbsolute.txt
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.CoreCompileInputs.cache
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.AssemblyReference.cache
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.assets.cache
/WebAPI/WebAPI/obj/Debug/net6.0/staticwebassets.pack.json
/WebAPI/WebAPI/obj/Debug/net6.0/staticwebassets.development.json
/WebAPI/WebAPI/obj/Debug/net6.0/staticwebassets.build.json
/WebAPI/WebAPI/obj/Debug/net6.0/apphost.exe
/WebAPI/.vs/WebAPI/FileContentIndex/fcf9e271-88ef-4d68-82b8-6181ca442094.vsidx
/WebAPI/.vs/WebAPI/FileContentIndex/6e443d09-aa12-4df6-8576-86289f2785bf.vsidx
/WebAPI/.vs/WebAPI/FileContentIndex/4f5e37d2-d2ba-425e-8f65-435029ac2a46.vsidx
/WebAPI/.vs/WebAPI/v17/.suo
/MedicalApi/MedicalApi/obj/Debug/net6.0/ref/MedicalApi.dll
/MedicalApi/MedicalApi/obj/Debug/net6.0/staticwebassets.build.json
/MedicalApi/MedicalApi/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.MedicalApi.props
/MedicalApi/MedicalApi/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.MedicalApi.props
/MedicalApi/MedicalApi/obj/Debug/net6.0/staticwebassets/msbuild.build.MedicalApi.props
/MedicalApi/MedicalApi/obj/Debug/net6.0/MedicalApi.pdb
/MedicalApi/MedicalApi/obj/Debug/net6.0/MedicalApi.MvcApplicationPartsAssemblyInfo.cs
/MedicalApi/MedicalApi/obj/Debug/net6.0/MedicalApi.MvcApplicationPartsAssemblyInfo.cache
/MedicalApi/MedicalApi/obj/Debug/net6.0/MedicalApi.genruntimeconfig.cache
/MedicalApi/MedicalApi/obj/Debug/net6.0/MedicalApi.dll
/MedicalApi/MedicalApi/obj/Debug/net6.0/MedicalApi.csproj.FileListAbsolute.txt
/MedicalApi/MedicalApi/obj/Debug/net6.0/MedicalApi.csproj.CoreCompileInputs.cache
/MedicalApi/MedicalApi/obj/Debug/net6.0/MedicalApi.csproj.BuildWithSkipAnalyzers
/MedicalApi/MedicalApi/obj/Debug/net6.0/apphost.exe
/MedicalApi/MedicalApi/obj/Debug/net6.0/refint/MedicalApi.dll
/.vs/AsyncAwaitDemo/v17/.suo
/MedicalApi/MedicalApi/bin/Debug/net6.0/MedicalApi.pdb
/WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.dll
/WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.pdb
/WebAPI/WebAPI/obj/Debug/net6.0/project.razor.vs.json
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.dll
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.pdb
